<ion-header>
    <ion-navbar>
        <ion-title>
            A1 Trainer
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    
    <ion-item *ngFor="let question of questions; let i = index;" id="item_{{i}}" [class.hide]="isHidden(i)">
        
            <button ion-button color="secondary" round>{{question.questionText}}</button>
            <ion-card padding>
                <ion-item *ngFor="let answer of question.answers; let a = index;">
                    <div class="bubble">
                        <button ion-button round [color]="answer.selected ? 'danger' : 'primary'" (click)="selectAnswer(answer, question)">{{answer.answer}}</button>
                    </div>             
                </ion-item>
            </ion-card>    
        

    </ion-item>

</ion-content>