<ion-content padding>
 
    <ion-slides #slides>
        <ion-slide class="start-slide">
            <button ion-button color="primary" (click)="nextSlide()">Teste deinen Wortschatz!</button>
        </ion-slide>
        
        <ion-slide *ngFor="let question of questions; let i = index;">   
            <ion-card text-left padding>
                <h1>Richtige Antworten: {{score}}</h1>
                <flash-card [isFlipped]="question.flashCardFlipped" text-center>
                    <div class="flash-card-front" [innerHTML]="question.flashCardFront"></div>
                    <div class="flash-card-back" [innerHTML]="question.flashCardBack"></div>
                </flash-card>
                <span *ngFor="let answer of question.answers; let i = index;">
                    <div class="bubble">
                        <button [color]="answer.correct && answer.selected? 'secondary' : 'primary'" (click)="selectAnswer(answer, question)" ion-button round>{{answer.answer}}</button>
                    </div>
                </span>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card padding text-center>
                <ion-card-header>
                    <h2>Richtige Antworten: {{score}}</h2>
                </ion-card-header>
                <ion-card-content>
                    <ion-icon name="trophy" class="congratulation active"></ion-icon>
                    <p>Alles richtig? Dann geht es weiter mit Level 2.</p>
                    <p>Nicht alles richtig? Zurück zum Start.</p>
                </ion-card-content>

            </ion-card>
            <button (click)="restartQuiz(score)" ion-button full color="primary">weiter</button>
        </ion-slide>
    </ion-slides>
 
</ion-content>