<ion-content padding>
 
    <ion-slides #slides>
        <ion-slide class="start-slide">
            <button ion-button color="primary" (click)="nextSlide()">Teste deinen Wortschatz!</button>
        </ion-slide>
        <ion-slide *ngFor="let question of questions; let i = index;">
            
           
            <ion-card padding>
            
            <flash-card [isFlipped]="question.flashCardFlipped">
                <div class="flash-card-front" [innerHTML]="question.flashCardFront"></div>
                <div class="flash-card-back" [innerHTML]="question.flashCardBack"></div>
            </flash-card>
            
            <ion-list no-lines radio-group>
                <ion-item *ngFor="let answer of question.answers; let i = index;">
                    <ion-label>{{i+1}}. {{answer.answer}}</ion-label>
                    <ion-radio (click)="selectAnswer(answer, question)" [checked]="answer.selected" [disabled]="hasAnswered"></ion-radio>
                </ion-item>
            </ion-list>

            <h2>Richtige Antworten: {{score}}</h2>

            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card padding text-center>
                <ion-card-header>
                    <h2>Richtige Antworten: {{score}}</h2>
                </ion-card-header>
                <ion-card-content>
                    <ion-icon name="trophy" class="congratulation active"></ion-icon>
                    <p>Alles richtig? Weiter mit Level 6: Ich habe einen Computer.</p>
                    <p>Nicht alles richtig? Teste deinen Wortschatz!</p>
                </ion-card-content>

            </ion-card>
            <button (click)="restartQuiz(score)" ion-button full color="primary">weiter</button>
        </ion-slide>
    </ion-slides>
 
</ion-content>