.simple {
   border-radius:50%;
   transition: transform cubic-bezier(0.5, 1.8, 0.8, 0.5) 2s;

}

.simplebump {
   transform: translateX(200px);      // entlang der X-Achse bewegen
}

p.speech {
  position: relative;
  width: 200px;
  height: 47px;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  font-size: 2.4rem;
}

p.speech:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 32px;
  border: 25px solid;
  border-color: #666 transparent transparent #666;
}

p.speech:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  top: 30px;
  border: 15px solid;
  border-color: #fff transparent transparent #fff;
}

.bubble {
	margin: 60px 0;
}



p.speech.goodchoice {
	color: #fff;
	background-color: green;
}
p.speech.goodchoice:after {
	border-color: green transparent transparent green;
}

p.speech.wrongchoice {
	color: #fff;
	background-color: red;
}
p.speech.wrongchoice:after {
	border-color: red transparent transparent red;
}

.wrapper {
    position: relative;
    margin: 40px auto;
    background: white;
  }

  .wrapper,
  .wrapper * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .wrapper {
    width: 250px;
    height: 250px;
  }

  .wrapper .pie {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    background: #08C;
    border: 5px solid rgba(0, 0, 0, 0.5);
  }