.simple {
   border-radius:50%;
   transition: transform cubic-bezier(0.5, 1.8, 0.8, 0.5) 2s;

}

.simplebump {
   transform: translateX(200px);      // entlang der X-Achse bewegen
}

p.speech {
  position: relative;
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
  border: 4px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom:10px;
}

.right {
  margin-left: 88px !important;
}

p.speech:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 36px;
  border: 22px solid;
  border-color: #666 transparent transparent #666;
}

p.speech:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  top: 28px;
  border: 19px solid;
  border-color: #fff transparent transparent #fff;
}

.bubble {
	margin: 0;
}



p.speech.goodchoice {
	color: #fff;
	background-color: green;
}
p.speech.goodchoice:after {
	border-color: green transparent transparent green;
}

p.speech.wrongchoice {
	color: #fff;
	background-color: red;
}
p.speech.wrongchoice:after {
	border-color: red transparent transparent red;
}




  .trophy {
    ion-icon {
      font-size: 2em;
      opacity:0.2;
    }
    .active {
        opacity: 1;
        color: gold;
      }
  }

  ion-icon.congratulation {
    
    font-size: 16.2em;
    color: gold;
}


.level1trophy {
  margin-left:20px;
  opacity:0;
}


.finished {
.level1trophy {
  opacity:1;
  color: #fff;
}  
}

ion-card.card-ios.finished {
    background: #f54;
    
    .todo {
      display:none;
    }

    .card-header-ios, .card-content {
      color: #fff;
    }


}

.clickable {
  background:#ff7400;
  color:#fff;
  .card-header-ios {
  color:#fff;
  }
}

.button-ios.danger,
.button-ios.wrongchoice {
  background-color: red;
}

.button-ios.goodchoice{
  background-color: green;
}