.ios, .md {
 
    page-home {
 
        .scroll-content {
            display: flex;
            background-color: #fff;
            background-size: cover;
        }
 
        ion-grid {
            justify-content: center;
        }
 
        ion-col {
            margin: 20px 0;
        }
 
        .front, .back {
            background-color: #d83313;
            border: 2px dashed #fff;
            color: #fff;
        }
 
        .flash-card-front {
            font-weight: bold;
            font-size: 3.3em;
        }
 
        .flash-card-back {
            padding: 10px;
            text-align: center;
        }
 
    }
 
}